*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}

.logo {
    position: relative;
    display: inline-block;
    right: 7.4rem;
}
.logo .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    right: .1rem;
}
.logo:hover .img-top {
    display: inline;
}

.navbar{
    position: relative;
    display: flex;
    align-items: center;
    padding: 2rem;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 2rem;
}
nav ul li a {
    color: black;
    font-size: 1.7rem;
    padding: .7rem, 1.3rem;
    text-transform: uppercase;
    border-radius: 0.3rem;
}
a.active a:hover{
    transition: .5s;
}
.checkbtn {
    font-size: 3rem;
    color: black;
    float: right;
    line-height: 8rem;
    margin-right: 4rem;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container{
    max-width: 130rem;
    margin: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.header{
    background: radial-gradient(#fff, #ffd6d6);
}
.header h1 {
    padding-left: 3rem;
}
.header p {
    padding-left: 3rem;
}
.header .row{
    margin-top: 7rem;
}

.col-1{
    flex-basis: 100%;
    min-width: 30rem;
}
.col-1 img{
    max-width: 100%;
    padding: 5rem 0;
}

.col-1 h1 {
    font-size: 2.5rem;
    line-height: 2rem;
    margin: .5rem 0;
}

.col-2:last-child{
    width: 17.8rem;
}

.col-2{
    padding: 1rem;
}

.col-2 img{
    width: 5rem;
    object-fit: contain;
    
}

.contacts {
    position: relative;
}
.contact-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    padding: 13rem;
    padding-bottom: 6rem;
} 
.contact-bg img {
    width: 100%;
}
.social-icons{
    display: flex;
    width: 100%;
}
.social-media{
    flex: 0.5;
    padding: 8rem;
}
.social-media h1{
    padding: 7rem;
}
.social-media-lg{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-right: 5rem;
}
.social-lg-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-lg-icon{
    padding: 5rem;
}
.social-lg-icon img{
    width: 8rem;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:998px){
    html{
        font-size: 55%;
    }
}

@media(max-width:480px){
    html{
        font-size: 45%;
    }
    #menuList{
        position: absolute;
        top: 70%;
        right: 0px;
        z-index: 9;
        width: 100%;
        height: 0;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-end;
        transition: all .3s ease-in-out;
    }
    nav {
        overflow: hidden;
    }
    .contact-bg{
        bottom: 0;
        display: flex;
        align-items: flex-end;
        padding: 0;
        left: -37%;
        border: 0;
    }
    .social-icons{
        flex-direction: column;
    }
    .social-media-lg{
        padding: 0 0 5em;
    }
    .checkbtn{
        display: block;
    }
    ul {
        position: relative;
        width: 100%;
        height: 100vh;
        /* background: #2c3e50; */
        top: 8rem;
        left: 0;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        line-height: 3rem;
        width: 50%;
        background: rgba(0,0,0,0.4);
        padding: 10px 10px;
        color: #fff;
        margin: 0;
        border: 1px solid black;

        color: black;
        border: .2rem solid green;
        padding: .1rem .2rem;
        
    }
    
    nav ul li a{
        font-size: 2rem;
        font-style: inherit;

        background-color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    } 
    nav ul li:hover{
        background: rgb(230, 223, 223);
    }
    a:hover, a.active{
        background: none;
        color: #536675;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

