<html>
    <title>SIPA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <head>
        <link rel="stylesheet" href= "./static/css/index.css">
    </head>
    <body>
        <button onclick="topFunction()" id="goUpButton" title="Go to top">^</button>
        <!-------------------------------------------------- header ------------------------------------------------->
        <div class="header">
            <div class="container">
                <div class="navbar">
                    <div class="logo">
                        <img src="./static/images/nlogc1.png" width="300px">
                        <img src="./static/images/nlogb1.png" class="img-top" width=300px">
                    </div>
                    <nav role="custom-dropdown">
                        <!-- <input type="checkbox" id="check"> -->
                        <label for="check" class="checkbtn">
                            <i class="fa fa-bars"></i>
                        </label>
                        <ul id="menuList">
                            <li><a class="active" href="">Home</a></li>
                            <li><a class="active" href="#services">Services</a></li>
                            <li><a class="active" href="#about">About</a></li>
                            <li><a class="active" href="#contacts">Contact</a></li>
                            <li><a class="active" href="#clients">Clients</a></li>
                            <li><a class="active" href="#galary">Gallery</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-1">
                        <h1>One place to management your<br>Management problems!</h1>
                        <p>Every event needs to be planned<br>Well planned & managed</p>
                    </div>
                    <div class="col-1">
                        <img src="./static/images/intro.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-------------------------------------------------- Services ------------------------------------------------->
        <div class="services" id="services">
            <div class="header">
                <h1>Our Services</h1>
            </div>
            <div class="container">
                <div class="col-1">
                    <img src="./static/images/service1.jpg" alt="">
                </div>
            </div>
            <div class="container">
                <div class="col-1">
                    <img src="./static/images/service3.jpg" alt="">
                </div>
            </div>
            <div class="container">
                <div class="col-1">
                    <img src="./static/images/service4.jpg" alt="">
                </div>
            </div>
            <div class="container">
                <div class="col-1">
                    <img src="./static/images/service5.jpg" alt="">
                </div>
            </div>
            <div class="container">
                <div class="col-1">
                    <img src="./static/images/service6.jpg" alt="">
                </div>
            </div>
            <div class="container">
                <div class="col-1">
                    <img src="./static/images/service7.jpg" alt="">
                </div>
            </div>
            <div class="container">
                <div class="col-1">
                    <img src="./static/images/service8.jpg" alt="">
                </div>
            </div>
            <div class="container">
                <div class="col-1">
                    <img src="./static/images/service9.jpg" alt="">
                </div>
            </div>
            <div class="container">
                <div class="col-1">
                    <img src="./static/images/service10.jpg" alt="">
                </div>
            </div>
            <div class="container">
                <div class="col-1">
                    <img src="./static/images/service11.jpg" alt="">
                </div>
            </div>
            <div class="container">
                <div class="col-1">
                    <img src="./static/images/service12.jpg" alt="">
                </div>
            </div>
        </div>
        <!-------------------------------------------------- Clients ------------------------------------------------->
        <div class="clients" id="clients">
            <div class="header">
                <h1>Our Clients</h1>
            </div>
            <div class="container">
                <div class="col-1">
                    <img src="./static/images/clients.jpg" alt="">
                </div>
            </div>
        </div>
        <!-------------------------------------------------- galary ------------------------------------------------->
        <div class="galary" id="galary">
            <div class="header">
                <h1>Gallery</h1>
            </div>
            <div class="container">
                <div class="w3-content" style="max-width:800px">
                    <img class="mySlides" src="./static/images/slider_images/img1.jpg" style="width:100%"> 
                    <img class="mySlides" src="./static/images/slider_images/img2.jpeg" style="width:100%">
                    <img class="mySlides" src="./static/images/slider_images/img4.jpeg" style="width:100%">
                    <img class="mySlides" src="./static/images/slider_images/img5.jpg" style="width:100%">
                    <img class="mySlides" src="./static/images/slider_images/img6.jpg" style="width:100%">
                    <img class="mySlides" src="./static/images/slider_images/img7.jpg" style="width:100%">
                    <img class="mySlides" src="./static/images/slider_images/img8.jpg" style="width:100%">
                    <img class="mySlides" src="./static/images/slider_images/img9.JPG" style="width:100%">
                    <img class="mySlides" src="./static/images/slider_images/img10.jpg" style="width:100%">
                    <img class="mySlides" src="./static/images/slider_images/img11.jpg" style="width:100%">
                    <img class="mySlides" src="./static/images/slider_images/img12.jpg" style="width:100%">
                    <img class="mySlides" src="./static/images/slider_images/img13.jpg" style="width:100%">
                    <img class="mySlides" src="./static/images/slider_images/img14.jpg" style="width:100%">
                  </div>
                  
                  <div class="w3-center">
                    <div class="w3-section">
                      <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Prev</button>
                      <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Next ❯</button>
                    </div>
                  </div>
            </div>
        </div>
        <!-------------------------------------------------- about ------------------------------------------------->
        <div class="about" id="about">
            <div class="header">
                <h1>About Us</h1>
            </div>
            <div class="container">
                <div class="col-1">
                    <img src="./static/images/about.jpg" alt="">
                </div>
            </div>
            <div class="container">
                <div class="col-1">
                    <img src="./static/images/aboutus2.jpg" alt="">
                </div>
            </div>
        </div>
         
        <!-------------------------------------------------- contacts ------------------------------------------------->
        <div class="contacts" id="contacts">
            <div class="contact-bg">
                <img src="./static/images/contacts_bg.jpg">
            </div>
            <div class="header">
                <h1>Contacts</h1>
            </div>
            <div class="social-icons">
                <div class="social-media">
                    <h1>
                        GET IN TOUCH WITH US
                    </h1>
                    <div class="row">
                        <div class="col-2">
                            <a href="balarkevents.com"></a>
                            <img src="./static/images/call.png" alt="">
                        </div>
                        <div class="col-2">
                            <p>7470667720</p>
                            <p>0731-4958820</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="./static/images/mail.png" alt="">
                        </div>
                        <div class="col-2">
                            <p>sipa7even@gmail.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="./static/images/website.PNG" alt="">
                        </div>
                        <div class="col-2">
                            <p>7instituteartentertainment.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="./static/images/location.png" alt="">
                        </div>
                        <div class="col-2">
                            <p>Malhar Mega Mall, Vijay nagar indore,(M. P.) - 452001</p>
                        </div>
                    </div>
                </div>
                <div class="social-media-lg">
                    <div class="social-lg-icons">
                        <div class="social-lg-icon">
                            <a href="https://www.facebook.com/7institute" target="_blank"><img src="./static/images/facebook.png"></a>
                            
                        </div>
                        <div class="social-lg-icon">
                            <a href="https://www.instagram.com/sipa.dance/" target="_blank"><img src="./static/images/instagram.png"></a>
                        </div>
                    </div>
                    <div class="social-lg-icons">
                        <div class="social-lg-icon">
                            <a href="https://www.youtube.com/channel/UCx9jcnL7TyDmgp1lLCYisGA" target="_blank"><img src="./static/images/youtube.png"></a>
                        </div>
                        <div class="social-lg-icon">
                            <a href=""><img src="./static/images/twitter.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="./static/js/main.js"></script>
</html>